<!-- app/views/lists/show.html.erb -->
<h1><%= @list.name %></h1>

<%= render 'bookmarks/form', list: @list %>

<h2>Bookmarks</h2>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <% if bookmark.movie.present? %>
        <%= "#{bookmark.movie.title}: #{bookmark.comment}" %>
        <%= link_to 'Remove Bookmark', list_bookmark_path(@list, bookmark), method: :delete, class: 'remove-bookmark-link' %>
    </li>
      <% end %>
  <% end %>

<%= link_to 'View All Movies', movies_path %>
<%= link_to 'Back', lists_path %>
